:root {
  --azul_piscina: #478f98;
  --azul_marinho: #1b2c58;
  --azul_transparente: #478f988c;
  --branco_amarelado: #fffcf7;
}

.address-button {
  display: flex;
  justify-content: center;
  margin: 5px 0 5px 0;
}

.address-button button {
  background-color: var(--azul_marinho);
  height: 40px;
  width: 200px;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
}

.address-button button:hover {
  background-color: var(--azul_piscina);
  height: 40px;
  width: 220px;
  border-radius: 10px;
  letter-spacing: 0.18rem;
}
