.logo {
  width: 100px;
  display: flex;
  justify-content: center;
}

.logo:hover {
  cursor: pointer;
}

.logo img {
  width: 100px;
}

@media only screen and (max-width: 899px) {
  .logo img {
    width: 50px;
  }
}
