.optionField {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.clickable {
  display: flex;
  align-items: center;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.clickable:hover {
  cursor: pointer;
}

.clickable :nth-child(1) {
  transform: translate(0, 3px);
}

.icon {
  width: 32px;
  margin-right: 10px;
}

.optionText {
  width: 80%;
}

.optionDescription {
  width: 29%;
  text-align: right;
}
