:root {
  --shadow: #fdded8;
}

.sectionCard {
  height: fit-content;
  padding: 10px;
  box-shadow: 0 2px 5px var(--shadow);
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 5px;
}

.sectionCard-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0 0 5px 0;
  text-align: left;
}

.sectionCard p {
  margin: 0px;
}

.subtotal {
  text-align: right;
}
