:root {
  --azul_piscina: #478f98;
  --azul_marinho: #1b2c58;
  --azul_piscina_transparente: #478f981d;
  --navbar: #e8ebea;
}

.user_menu_container {
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userButton {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: var(--azul_marinho);
}

.userButton:hover {
  background-color: var(--azul_piscina);
  cursor: pointer;
  font-size: 1.5rem;
}

.hiddenButton {
  display: none;
}

@media only screen and (max-width: 500px) {
  .user_menu_container {
    justify-content: center;
  }
  .userButton {
    display: none;
  }

  .hiddenButton {
    display: flex;
  }
}
