.searchContainer {
  width: fit-content;
  height: 40px;
  display: flex;
  margin: 50px 0 50px 0;
}

.search {
  width: 300px;
  border: none;
  border-radius: 40px 0 0 40px;
  text-align: center;
  padding-left: 50px;
}

.search:focus {
  border: none;
  outline: none;
}

.search_button {
  width: 40px;
  border: none;
  background-color: white;
  border-radius: 0 40px 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.search_button:hover {
  cursor: pointer;
}
