:root {
  --azul_piscina: #478f98;
  --azul_marinho: #1b2c58;
  --azul_transparente: #478f988c;
  --branco_amarelado: #fffcf7;
}

.App {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.App-header {
  height: 120px;
  display: flex;
  align-items: center;
  width: 100%;
  font-size: calc(10px + 2vmin);
  color: var(--azul_marinho);
}

.App-section {
  width: 80%;
  max-width: 1500px;
  flex-shrink: 1;
  display: flex;
}

.App-footer {
  width: 100%;
  height: 300px;
}

@media only screen and (max-width: 899px) {
  .App-section {
    width: 100%;
    min-width: 200px;
  }
}

@media only screen and (max-width: 380px) {
  * {
    font-size: calc(18px + (26 - 16) * ((100vw - 768px) / (1600 - 768)));
  }
}
